<!DOCTYPE html>
    <!--[if IE 9 ]><html class="ie9"><![endif]-->
    <head>
        {% block meta %}
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
        {% endblock %}

        <title>{% block title %}CManager{% endblock %}</title>

        {% block stylesheets %}
            <!-- Vendor CSS -->
            <link href="{{ asset('assets/admin/vendors/bower_components/animate.css/animate.min.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/admin/vendors/bower_components/sweetalert/dist/sweetalert.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/admin/vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/admin/vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css') }}" rel="stylesheet">

            <!-- CSS -->
            <link href="{{ asset('assets/admin/css/app_1.min.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/admin/css/app_2.min.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/app/assets/css/main_style.css') }}" rel="stylesheet">
        {% endblock %}
    </head>

    <body class="bgm-white">
    {% block body %}
        {% include 'AppBundle:Main/Layout:header.html.twig' %}

        <section id="main">
            <div class="container">
                <div class="wrapper">
                    <div class="card custom-card" id="profile-main">
                        {% block body_content %}{% endblock %}
                    </div>
                </div>
            </div>
        </section>

        {% include 'AppBundle:Main/Layout:footer.html.twig' %}

        {% block javascripts %}
            <script src="{{ asset('assets/admin/vendors/bower_components/jquery/dist/jquery.min.js') }}"></script>
            <script src="{{ asset('assets/admin/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('assets/admin/vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js') }}"></script>
            <script src="{{ asset('assets/admin/vendors/bower_components/Waves/dist/waves.min.js') }}"></script>
            <script src="{{ asset('assets/admin/vendors/bootstrap-growl/bootstrap-growl.min.js') }}"></script>
            <script src="{{ asset('assets/admin/vendors/bower_components/sweetalert/dist/sweetalert.min.js') }}"></script>
            <script src="{{ asset('assets/admin/vendors/bower_components/autosize/dist/autosize.min.js') }}"></script>

            <script src="{{ asset('assets/admin/js/app.min.js') }}"></script>
        {% endblock %}
    {% endblock %}
    </body>
</html>