{% extends 'AppBundle:Main/Layout:body_login.html.twig' %}

{% trans_default_domain 'messages' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/app/assets/css/sign_in.css') }}" rel="stylesheet">
{% endblock %}

{% block body_content %}
    <div id="login-page" class="content">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <div class="card" id="sign-in-card">
                    <div class="card-header">
                        <h2 class="text-center f-500">{{ 'message.reset_password'|trans }}</h2>
                    </div>

                    <div class="card-body card-padding">
                        {% if form_errors(form.plainPassword.first) %}
                            <div class="c-red p-t-10">{{  form_errors(form.plainPassword.first) }}</div>
                        {% endif %}

                        {{ form_start(
                            form,
                            {
                                'method': 'POST',
                                'action': path('app_default_reset_password', {'token': token}),
                                'attr': {
                                    'novalidate': 'novalidate',
                                    'class': 'm-t-25'
                                },
                            }
                        ) }}
                            <div class="form-group input-group fg-float">
                                <span class="input-group-addon">
                                    <i class="zmdi zmdi-key"></i>
                                </span>
                                <div class="fg-line">
                                    {{ form_widget(
                                        form.plainPassword.first,
                                        {
                                            'attr' : {
                                                'class': 'form-control input-small'
                                            },
                                        }
                                    ) }}
                                    {{ form_label(
                                        form.plainPassword.first,
                                        'label.password.first'|trans,
                                        {
                                            'label_attr' : {'class': 'fg-label'}
                                        }
                                    ) }}
                                </div>
                            </div>
                            <div class="form-group input-group fg-float">
                                <span class="input-group-addon">
                                    <i class="zmdi zmdi-key"></i>
                                </span>
                                <div class="fg-line">
                                    {{ form_widget(
                                        form.plainPassword.second,
                                        {
                                            'attr' : {
                                                'class': 'form-control input-small'
                                            },
                                        }
                                    ) }}
                                    {{ form_label(
                                        form.plainPassword.second,
                                        'label.password.second'|trans,
                                        {
                                            'label_attr' : {'class': 'fg-label'}
                                        }
                                    ) }}
                                </div>
                            </div>

                            <button type="submit" id="_submit" name="_submit" class="btn btn-primary btn-block bgm-green m-t-10 waves-effect">
                                {{ 'button.save_password'|trans }}
                            </button>
                            <span class="hidden">{{ form_row(form._token) }}</span>
                        {{ form_end(form, {'render_rest': false}) }}
                    </div>
                </div>
                <div>
                    {{ 'message.login_page'|trans }}
                    <a href="{{ path('app_main_security_login') }}">
                        {{ 'message.sigin_in'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
