{% extends 'AppBundle:Main/Layout:body_main.html.twig' %}

{% trans_default_domain 'messages' %}

{% block body_content %}
<div class="user-profile">
    <div class="cover-block user-cover-block p-b-15">
        <div class="cover-controls">
            <ul class="actions">
                {% if constant('AppBundle\\Entity\\User::ROLE_PROFESSOR') in app.user.roles and app.user == course.author %}
                    <li class="m-r-10">
                        <a href="{{ path('app_main_courses_edit', {'id': course.id}) }}">
                            <i class="btn zmdi zmdi-edit" data-toggle="tooltip" data-placement="bottom" data-original-title="Edit"></i>
                        </a>
                    </li>
                {% endif %}
                <li>
                    <i class="btn zmdi zmdi-wifi subscribe {% if app.user in course.subscribers %}hidden{% else %}show{% endif %}" data-toggle="tooltip" data-placement="bottom" data-original-title="Subscribe" data-message="You have successfully subscribed to this course" data-type="success"></i>
                    <i class="btn zmdi zmdi-wifi-off unsubscribe {% if app.user in course.subscribers %}show{% else %}hidden{% endif %}" data-toggle="tooltip" data-placement="bottom" data-original-title="Unsubscribe" data-message="You have successfully unsubscribed to this course" data-type="danger"></i>
                </li>
            </ul>
        </div>
        <div class="profile-header">
            <div class="avatar-holder">
                <img class="round s90" avatar="{{ course.title }}"/>
            </div>
            <div class="user-info">
                <div class="cover-title">{{ course.title }}</div>
                <div class="cover-desc">
                    <span class="middle-dot-divider">@{{ course.abbreviation }}</span>
                    <span>Member since February 1, 2016</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pm-body clearfix">

    <div class="pmb-block p-t-15">
        <div class="pmbb-header">
            <h2><i class="zmdi zmdi-equalizer m-r-10"></i> Summary</h2>
        </div>
        <div class="pmbb-body p-l-30">
            <div class="pmbb-view">{{ course.description }}</div>
        </div>
    </div>

    <div class="pmb-block p-t-15">
        <div class="pmbb-header">
            <h2><i class="zmdi zmdi-book-image"></i> General Information</h2>
        </div>
        <div class="pmbb-body p-l-30">
            <div class="pmbb-view">
                <dl class="dl-horizontal">
                    <dt>Title</dt>
                    <dd>{{ course.title }}</dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>Abbreviation</dt>
                    <dd>{{ course.abbreviation }}</dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>Type</dt>
                    <dd>{{ course.type|trans }}</dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>Evaluation</dt>
                    <dd>{{ course.evaluation|trans }}</dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>Course Hours</dt>
                    <dd>{{ course.courseHours }}</dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>Seminar Hours</dt>
                    <dd>{{ course.seminarHours }}</dd>
                </dl>
            </div>
        </div>
    </div>

    <div class="pmb-block p-t-15">
        <div class="pmbb-header">
            <h2><i class="zmdi zmdi-folder"></i> Content</h2>
        </div>
        <div class="pmbb-body p-l-30">
            <div class="pmbb-view">
                {% if not course.content %}
                    <h4 class="m-t-25">Please update <i>content</i> in order to have a better course profile</h4>
                {% else %}
                    {{ course.content|raw }}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="pmb-block p-t-15">
        <div class="pmbb-header">
            <h2><i class="zmdi zmdi-format-list-bulleted"></i> Bibliography</h2>
        </div>
        <div class="pmbb-body p-l-30">
            <div class="pmbb-view">
                {% if not course.bibliography %}
                    <h4 class="m-t-25">Please update <i>bibliography</i> in order to have a better course profile</h4>
                {% else %}
                    {{ course.bibliography|raw }}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        function notify (message, type, from, align, icon, animIn, animOut) {
            $.growl({
                icon: icon,
                message: message,
                url: ''
            },{
                element: 'body',
                type: type,
                allow_dismiss: true,
                placement: {
                    from: from,
                    align: align
                },
                offset: {
                    x: 20,
                    y: 85
                },
                spacing: 10,
                z_index: 1031,
                delay: 2500,
                timer: 1000,
                url_target: '_blank',
                mouse_over: false,
                animate: {
                    enter: animIn,
                    exit: animOut
                },
                icon_type: 'class',
                template: '<div data-growl="container" class="alert" role="alert">' +
                            '<button type="button" class="close" data-growl="dismiss">' +
                            '<span aria-hidden="true">&times;</span>' +
                            '<span class="sr-only">Close</span>' +
                            '</button>' +
                            '<span data-growl="icon"></span>' +
                            '<span data-growl="message"></span>' +
                            '<a href="#" data-growl="url"></a>' +
                            '</div>'
            });
        };

        $(document).ready(function () {
            var routeParams = {},
                message,
                nType;
            routeParams['id'] = {{ course.id }};

            $('.subscribe').click(function () {
                message = $(this).attr('data-message');
                nType = $(this).attr('data-type');

                $.ajax({
                    url: Routing.generate('app_main_courses_subscribe', routeParams, true),
                    type: 'get',
                    dataType: 'json',
                    success: function (data) {
                        if (data.subscribed === 'success') {
                            notify(message, nType);

                            $('.subscribe').removeClass('show').addClass('hidden');
                            $('.unsubscribe').removeClass('hidden').addClass('show');
                        } else {
                        }
                    }
                });
            });

            $('.unsubscribe').click(function () {
                message = $(this).attr('data-message');
                nType = $(this).attr('data-type');

                $.ajax({
                    url: Routing.generate('app_main_courses_unsubscribe', routeParams, true),
                    type: 'get',
                    dataType: 'json',
                    success: function (data) {
                        if (data.unsubscribed === 'success') {
                            notify(message, nType);

                            $('.subscribe').removeClass('hidden').addClass('show');
                            $('.unsubscribe').removeClass('show').addClass('hidden');
                        } else {
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}