{% extends 'AppBundle:Main/Layout:body_login.html.twig' %}

{% trans_default_domain 'messages' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/app/assets/css/sign_in.css') }}" rel="stylesheet">
{% endblock %}

{% block body_content %}
    <div id="forgot-password-page" class="content">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-1">
                <h1>
                    {{ 'message.infobucket'|trans }}
                </h1>
                <h3>
                    {{ 'message.login.title'|trans }}
                </h3>
                <p style="font-size:18px;">
                    {{ 'message.login.description'|trans }}
                </p>
            </div>
            <div class="col-sm-4">
                <div class="card" id="sign-in-card">
                    <div class="card-header">
                        <h2 class="text-center f-500">
                            {{ 'title.reset_password'|trans }}
                        </h2>
                    </div>

                    <div class="card-body card-padding">
                        <form method="post" class="p-t-25" novalidate>
                            <div class="form-group input-group fg-float">
                                <span class="input-group-addon">
                                    <i class="zmdi zmdi-email"></i>
                                </span>
                                <div class="fg-line">
                                    <input type="email" class="form-control input-sm" id="exampleInputEmail1">
                                    <label class="fg-label">{{ 'label.email'|trans }}</label>
                                </div>
                                <span class="text-danger"></span>
                            </div>

                            <button type="submit" class="btn btn-primary btn-block m-t-10 waves-effect">
                                {{ 'button.reset_password'|trans }}
                            </button>
                        </form>
                    </div>
                </div>
                <div>
                    {{ 'message.already_have_account'|trans }}
                    <a href="{{ path('app_login') }}">
                        {{ 'message.sigin_in'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
