{% extends 'AppBundle:Main/Layout:base.html.twig' %}

{% trans_default_domain 'messages' %}

{% block body_content %}
    <div id="login-page" class="content">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-1">
                <h1>
                    {{ 'message.infobucket'|trans }}
                </h1>
                <h3>
                    {{ 'message.login.title'|trans }}
                </h3>
                <p style="font-size:18px;">
                    {{ 'message.login.description'|trans }}
                </p>
            </div>
            <div class="col-sm-4">
                <div class="card" id="sign-in-card">
                    <div class="card-header">
                        <h2 class="text-center f-500">{{ 'message.sigin_in'|trans }}</h2>
                    </div>

                    <div class="card-body card-padding">
                        <form method="post" role="form" class="p-t-25" novalidate>
                            <div class="form-group input-group fg-float">
                                <span class="input-group-addon">
                                    <i class="zmdi zmdi-email"></i>
                                </span>
                                <div class="fg-line">
                                    <input type="email" class="form-control input-sm" id="Email">
                                    <label class="fg-label">{{ 'label.email'|trans }}</label>
                                </div>
                                <span class="text-danger"></span>
                            </div>

                            <div class="form-group input-group fg-float">
                                <span class="input-group-addon">
                                    <i class="zmdi zmdi-key"></i>
                                </span>
                                <div class="fg-line">
                                    <input type="password" class="form-control input-sm" id="Password">
                                    <label class="fg-label">{{ 'label.password.first'|trans }}</label>
                                </div>
                                <span class="text-danger"></span>
                            </div>

                            <div class="text-danger"></div>

                            <button type="submit" class="btn btn-primary btn-block bgm-green m-t-10 waves-effect">
                                {{ 'button.submit'|trans }}
                            </button>
                        </form>
                    </div>
                </div>
                <div>
                    <a href="{{ path('app_forgot_password') }}">
                        {{ 'message.forgot_password'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
