{% trans_default_domain 'messages' %}

<aside id="sidebar" class="sidebar c-overflow">
    <ul class="main-menu">
        <li>
            <a href="{{ path('app_admin_default_homepage') }}">
                <i class="zmdi zmdi-home"></i>
                {{ 'title.home'|trans }}
            </a>
        </li>
        <li>
            <a href="{{ path('app_admin_user_list') }}">
                <i class="zmdi zmdi-account"></i>
                {{ 'title.user.list'|trans }}
            </a>
        </li>
        <li>
            <a href="{{ path('app_admin_course_list') }}">
                <i class="zmdi zmdi-book"></i>
                {{ 'title.course.list'|trans }}
            </a>
        </li>
        <li>
            <a href="{{ path('app_admin_announcement_list') }}">
                <i class="zmdi zmdi-notifications"></i>
                {{ 'title.announcement.list'|trans }}
            </a>
        </li>
    </ul>
</aside>
