{% extends 'AppBundle:Main/Layout:body_main.html.twig' %}

{% trans_default_domain 'messages' %}

{% if hideAuxNav %}
    {% set hideSecondNav = true %}
{% endif %}

{% block body_content %}
    <div class="row m-t-r-35">
        <div class="p-relative clearfix m-b-10">
            <h3>{{ 'heading.list_seminar_announcements'|trans }}</h3>
            {% if user == app.user %}
                <a href="{{ path('app_main_announcements_create', {'courseId':course.id, 'isCourseAnnouncement':false}) }}">
                    <button class="btn bgm-green waves-effect m-t-5 text-transform-initial f-15 p-absolute add-module">
                        {{ 'button.add_announcement'|trans }}
                    </button>
                </a>
            {% endif %}
        </div>

        {% for flash_message in app.session.flashBag.get('success') %}
            <div class="row">
                <div id="general-alert" class="alert alert-success m-t-15">
                    <strong>{{ flash_message }}</strong>
                </div>
            </div>
        {% endfor %}

        {% if not announcements|length > 0 %}
            <small>{{ 'small.no_seminar_announcements'|trans }}</small>
        {% else %}
            <div class="panel-group" role="tablist" aria-multiselectable="true">
                {% set index = 1 %}
                {% for announcement in announcements %}
                    <div class="panel panel-collapse">
                        <div class="panel-heading" role="tab" id="{{ 'heading' ~ index }}">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="{{ '#collapse' ~ index }}"
                                   aria-expanded="false" aria-controls="{{ 'collapse' ~ index }}" class="f-16">
                                    {{ announcement.title }}
                                </a>
                            </h4>
                        </div>
                        <div id="{{ 'collapse' ~ index }}" class="collapse" role="tabpanel"
                             aria-labelledby="{{ 'heading' ~ index }}">
                            <div class="panel-body">
                                {{ announcement.content | raw }}
                            </div>
                            {% if announcement.createdBy == app.user %}
                                <div class="panel-controls">
                                    <a href="{{ path('app_main_announcements_edit', {'id':announcement.id}) }}">
                                        <button class="btn bgm-blue waves-effect m-t-5 text-transform-initial f-15">
                                            {{ 'button.edit_announcement'|trans }}
                                        </button>
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    {% set index = index + 1 %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}
